<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	
	<f:layout name="Content" />
	
	<f:section name="Configuration">
		<flux:form label="Two Column Container" id="twoColumns" description="50% - 50% Column" icon="" options="{Fluidcontent: {sorting: 103},group: 'Custom elements'}">

			<flux:field.select name="select" label="Header Type" items="{1:'Header 1',2:'Header 2'}" default="2"></flux:field.select>
			
			<flux:field.input name="header" label="Main Title" />

			<flux:grid>
				<flux:grid.row>
					<flux:grid.column style="width: 50%" name="column1" label="Left Column">
					</flux:grid.column>
					<flux:grid.column style="width: 50%" name="column2" label="Right Column" >
					</flux:grid.column>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Main">

		<div class="container content clearfix">
			<div class="row">

				<f:if condition="{header}">
					<f:if condition="{select}==1">
						<h1>{header}</h1>
					</f:if>
					<f:if condition="{select}==2">
						<h2>{header}</h2>
					</f:if>
				</f:if>

				<div class="col-md-5  col-sm-5 col-xs-12 wow bounceInLeft" data-wow-delay="0.15s">
					<flux:content.render render="1" area="column1" />
				</div>

				<div class="col-md-7  col-sm-7 col-xs-12 wow bounceInRight" data-wow-delay="0.15s">
					<flux:content.render render="1" area="column2" />
				</div>

			</div>
		</div>

	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>
</div>

