<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="Twocolumntext" label="Two Column Text" description="Two Column Text Element" icon="" options="{Fluidcontent: {sorting: 103},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
            <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Background Image" allowed="jpg, jpeg, png, gif"/>
            <flux:field.input name="Text" label="Title"/>
            <flux:field.text name="lcontent" label="Left Content" enableRichText="1" />      
            <flux:field.text name="rcontent" label="Right Content" enableRichText="1" />
     
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 
  <section class="section2">
   <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="golf_club_full">
              <div class="h2_title">
                 <f:image src="uploads/slider_images/{picture}"/>
                <h2>{Text}</h2>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="half_section">
                    <f:format.html>{lcontent}</f:format.html>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="half_section">
                     <f:format.html>{rcontent}</f:format.html>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
  </f:section>
</div>
