{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    
	<f:section name="Configuration">
		<flux:form id="onecolumn1" label="Inner Template - 1 / Not use any container" description="When not used any container" icon="">
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="6" name="innerSlider" label="Inner Page Slider" />
				</flux:grid.row>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="content" label="Inhalt"/>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>
    
	<f:section name="Content">
    
		<div class="page-wrapper">
        
			<header id="header" class="header-section clearfix">
				<f:cObject typoscriptObjectPath="lib.slider"/>
			</header>
            
			<div id="navigation" class="topmenu">
				<nav class="applePie">
					<div class="nav-container clearfix">
                    
						<div class="company-logo">
							<f:cObject typoscriptObjectPath="lib.logo"/>
						</div>
                        
						<div class="menu-slide">
                        
							<button id="c-button--slide-left" class="c-button">Slide Left</button>
							
                            <div class="responsive-side-icon">
                            
                                <f:render partial="PageObjects" section="ShortcutMob" />

							</div>
                            
                            <f:render partial="PageObjects" section="Navigation" />
                            
						</div>
					</div>
				</nav>
			</div>
            
			<f:render partial="PageObjects" section="Breadcrumb" />
			
            <section  class="white-section clearfix">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<f:cObject typoscriptObjectPath="lib.content0"/>
						</div>
					</div>
				</div>
			</section>
            
			<f:render partial="PageObjects" section="Footer" />
            
            <div class="side-icon-structure">
				<f:render partial="PageObjects" section="Shortcut" />
            </div>
            
		</div>
        
	</f:section>
</div>