
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Property</h1>

<f:flashMessages />

<table  class="tx_property" >
	<tr>
		<th><f:translate key="tx_property_domain_model_property.title" /></th>
		<th><f:translate key="tx_property_domain_model_property.subtitle" /></th>
		<th><f:translate key="tx_property_domain_model_property.object_type" /></th>
		<th><f:translate key="tx_property_domain_model_property.price" /></th>
		<th><f:translate key="tx_property_domain_model_property.description" /></th>
		<th><f:translate key="tx_property_domain_model_property.images" /></th>
		<th><f:translate key="tx_property_domain_model_property.pdf" /></th>
		<th><f:translate key="tx_property_domain_model_property.area" /></th>
		<th><f:translate key="tx_property_domain_model_property.bed" /></th>
		<th><f:translate key="tx_property_domain_model_property.bath" /></th>
		<th><f:translate key="tx_property_domain_model_property.floor" /></th>
		<th><f:translate key="tx_property_domain_model_property.garage" /></th>
		<th><f:translate key="tx_property_domain_model_property.room" /></th>
		<th><f:translate key="tx_property_domain_model_property.floor_area" /></th>
		<th><f:translate key="tx_property_domain_model_property.available" /></th>
		<th><f:translate key="tx_property_domain_model_property.heating" /></th>
		<th><f:translate key="tx_property_domain_model_property.flooring" /></th>
		<th><f:translate key="tx_property_domain_model_property.expiration" /></th>
		<th><f:translate key="tx_property_domain_model_property.equipped" /></th>
		<th><f:translate key="tx_property_domain_model_property.parking" /></th>
		<th><f:translate key="tx_property_domain_model_property.street" /></th>
		<th><f:translate key="tx_property_domain_model_property.city" /></th>
		<th><f:translate key="tx_property_domain_model_property.state" /></th>
		<th><f:translate key="tx_property_domain_model_property.plz" /></th>
		<th><f:translate key="tx_property_domain_model_property.country" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{properties}" as="property">
		<tr>
			<td><f:link.action action="show" arguments="{property : property}"> {property.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.subtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.objectType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.images.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.pdf.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.area}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.bed}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.bath}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.floor}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.garage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.room}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.floorArea}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.available}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.heating}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.flooring}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.expiration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.equipped}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.parking}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.plz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{property : property}"> {property.country}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{property : property}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{property : property}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Property</f:link.action>
</f:section>