{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="form-group powermail_fieldwrap powermail_fieldwrap_textarea powermail_fieldwrap_{field.uid} {field.css} {vh:Validation.ErrorClass(field:field, class:'has-error')}">
	<label for="powermail_field_{field.marker}" class="col-md-3 control-label powermail_label">
		{field.title}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<div class="col-md-9">
		<f:form.textarea cols="20" rows="5" id="powermail_field_{field.marker}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" class="form-control powermail_field powermail_textarea {vh:Misc.ValidationClass(field: '{field}')}" />
	</div>
</div>
