{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:section name="Configuration">
    <v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
    <flux:form id="sliderhome" label="Home slider" description="Home Slider Element" icon="" options="{Fluidcontent: {sorting: 101},group: 'Custom Elements'}">
      <flux:form.sheet name="options" label="Options">
        <flux:form.section name="sliders" label="Home Page Slider">
          <flux:form.object name="slider" label="Add New Slide">
            <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"  showThumbnails="1" />
            <flux:field.input name="picture_alt" label="Alternative Text" />
          </flux:form.object>
        </flux:form.section>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main">
  <section class="container-fluid">
  <div class="row banner-slider">
    <div id="banner-slider" class="carousel slide" data-ride="carousel">
      <f:if condition="{sliders}">
        <ol class="carousel-indicators">
          <f:for each="{sliders}" as="slider" iteration="iteration">
            <li data-target="#banner-slider" data-slide-to="{iteration.index}"  class="<f:if condition='{iteration.index} == 0'>active</f:if>"> </li>
          </f:for>
        </ol>
        <div class="carousel-inner" role="listbox">
          <f:for each="{sliders}" as="slider" iteration="iteration">
            <div class="item <f:if condition='{iteration.index} == 0'>active</f:if>">
              <f:image src="uploads/slider_images/{slider.slider.picture}" alt="{slider.slider.picture_alt}" width="1903c" height="374c" />
            </div>
          </f:for>
        </div>
        <f:if condition='{f:count(subject:"{sliders}")} > 1'> <a class="left carousel-control" href="#banner-slider" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#banner-slider" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </f:if>
      </f:if>   
  </div>
</div>
</section>
</f:section>
</div>
