{namespace n=Tx_News_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Detail.html" />
<f:section name="content">
  <n:metaTag property="og:description" content="<f:format.crop maxCharacters="240" >
  {newsItem.bodytext}
  </f:format.crop>
  " />
  
  <f:if condition="{newsItem.contentElements}">
    <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
  </f:if>
  
  <f:if condition="{newsItem}">
    <f:then>
      <n:format.nothing>
        <f:if condition="{newsItem.alternativeTitle}">
          <f:then>
            <n:titleTag>
              <n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
            </n:titleTag>
          </f:then>
          <f:else>
            <n:titleTag>
              <n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
            </n:titleTag>
          </f:else>
        </f:if>
        <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
      </n:format.nothing>
      
        <div class="header">
            <h1>{newsItem.title}</h1>
                                
            <span class="date">
                   <n:format.date format="%d.%m.%Y">{newsItem.datetime}</n:format.date>
            </span>
			</div>
        
        
        <f:if condition="{newsItem.categories}">
          <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
        </f:if>
        <f:if condition="{newsItem.tags}"> <span class="news-list-tags">
          <f:for each="{newsItem.tags}" as="tag"> {tag.title} </f:for>
          </span> </f:if>
        <f:if condition="{newsItem.author}"> <span class="news-list-author">
          <f:translate key="author" arguments="{0:newsItem.author}"></f:translate>
          </span> </f:if>
        <hr />
        <f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
  <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
  
        <div class="col-md-6 col-sm-6 col-xs-12 right-content">
            <blockquote>
                <f:if condition="{newsItem.teaser}"> {newsItem.teaser} </f:if>
            </blockquote>
          <f:format.html>{newsItem.bodytext}</f:format.html>
       <f:if condition="{settings.backPid}">
         
            <f:link.page pageUid="{settings.backPid}"  class="btn btn-primary">
              <f:translate key="back-link" />
            </f:link.page>
             
        </f:if>
        <f:if condition="{settings.detail.showSocialShareButtons}"> 
          <!--  <div class="socialMedia"> 
           <div class="like">
						<n:social.facebook.like></n:social.facebook.like>
					</div>            
            <div class="share">
              <n:social.facebook.share>Share</n:social.facebook.share>
            </div>
            <div class="twitter">
              <n:social.twitter>Twitter</n:social.twitter>
            </div>
            <div class="gplus">
              <n:social.googlePlus jsCode=''>Google</n:social.googlePlus>
            </div>
          </div>-->
<!--          <div class="socialMedia">
            <button type="button" class="btn btn-default btn-facebook" onclick="socialsharing_facebook_click();"> <i class="icon-facebook"></i> Share </button>
            <button type="button" class="btn btn-default btn-twitter" onclick="socialsharing_twitter_click('{newsItem.title} {currentUrl}');"> <i class="icon-twitter"></i> Tweet </button>
            <button type="button" class="btn btn-default btn-google-plus" onclick="socialsharing_google_click();"> <i class="icon-google-plus"></i> Google+ </button>
          </div>-->
           
           </div>
          
        </f:if>
       
      
      
      <!-- related things -->
      <div class="news-related-wrap">
        <f:if condition="{newsItem.allRelatedSorted}">
          <div class="news-related news-related-news">
            <h4>
              <f:translate key="related-news" />
            </h4>
            <ul>
              <f:for each="{newsItem.allRelatedSorted}" as="related">
                <li> <span class="news-related-news-date">
                  <n:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</n:format.date>
                  </span>
                  <n:link newsItem="{related}" settings="{settings}"> {related.title} </n:link>
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>
        <f:if condition="{newsItem.relatedFiles}">
          <div class="news-related news-related-files">
            <h4>
              <f:translate key="related-files" />
            </h4>
            <ul>
              <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                <li> <span class="news-related-files-link">
                  <n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
                    <f:if condition="{relatedFile.title}">
                      <f:then> {relatedFile.title} </f:then>
                      <f:else> {relatedFile.file} </f:else>
                    </f:if>
                  </n:format.fileDownload>
                  </span> <span class="news-related-files-size">
                  <n:format.fileSize file="uploads/tx_news/{relatedFile.file}" format="{settings.relatedFiles.fileSizeLabels}" />
                  </span> </li>
              </f:for>
            </ul>
          </div>
        </f:if>
        <f:if condition="{newsItem.falRelatedFiles}">
          <div class="news-related-files"> 
            <!--<h4>
              <f:translate key="related-files" />
            </h4>
            <ul>
              <f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
                <li> <span class="news-related-files-link">
                  <n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" configuration="{settings.relatedFiles.download}">
                    <f:if condition="{relatedFile.originalResource.title}">
                      <f:then> {relatedFile.originalResource.title} </f:then>
                      <f:else> {relatedFile.originalResource.name} </f:else>
                    </f:if>
                  </n:format.fileDownload>
                  </span> 
                 <span class="news-related-files-size">
                  	<n:format.fileSize fileSize="{relatedFile.originalResource.size}" format="{settings.relatedFiles.fileSizeLabels}" />
                  </span></li>
              </f:for>
            </ul>-->
            <div class="row">
              <div class="col-sm-8 col-md-8 videonews">
                <div class="gray-strip">
                  <h2>VIDEO – FIRMENPRÄSENTATIONS</h2>
                  <!--<div class="company-logo"><img src="typo3conf/ext/fluxtemplate/Resources/Public/images/charly-form-logo.png" alt="companylogo"></div>-->
                  <div class="vedioSection">
                    <ul>
                      <f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
                        <li>
                          <v:media.video  src="{relatedFile.originalResource.publicUrl}"  tabindex="123" onclick="NULL"    width="685" height="386" autoplay="1" controls="1" loop="0" muted="0" poster="NULL" preload="'auto'"></v:media.video>
                          <!--<span class="news-related-files-link"><n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" configuration="{settings.relatedFiles.download}">                          
                            <f:if condition="{relatedFile.originalResource.title}">
                              <f:then> {relatedFile.originalResource.title} </f:then>
                              <f:else> {relatedFile.originalResource.name} </f:else>
                            </f:if>
                          </n:format.fileDownload></span>--> 
                        </li>
                      </f:for>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </f:if>
        <f:if condition="{newsItem.relatedLinks}">
          <div class="news-related news-related-links">
            <h4>
              <f:translate key="related-links" />
            </h4>
            <ul>
              <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                <li>
                  <f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
                  <!--<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>--> 
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>
      </div>
    </f:then>
    <f:else> </f:else>
  </f:if>
</f:section>
