
<table class="tx-arzte" >
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.name" />
		</td>
		<td>
		{category.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.image" />
		</td>
		<td>
				<f:image src="{category.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.subheader" />
		</td>
		<td>
		{category.subheader}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.description" />
		</td>
		<td>
		{category.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.detail" />
		</td>
		<td>
		{category.detail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_category.link" />
		</td>
		<td>
		{category.link}
		</td>
	</tr>
</table>