
<table class="tx-company-management" >
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.name" />
		</td>
		<td>
			{state.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.main_logo" />
		</td>
		<td>
			{state.mainLogo.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.small_logo" />
		</td>
		<td>
			{state.smallLogo.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.secondary_logo" />
		</td>
		<td>
			{state.secondaryLogo.originalResource.name}
		</td>
	</tr>
</table>