
<table class="tx-company-management" >
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_statement.name" />
		</td>
		<td>
		{statement.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_statement.description" />
		</td>
		<td>
		{statement.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_statement.image" />
		</td>
		<td>
				<f:image src="{statement.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_statement.statement_type" />
		</td>
		<td>
		{statement.statementType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_statement.statement_position" />
		</td>
		<td>
		{statement.statementPosition}
		</td>
	</tr>
</table>