<div class="press-release-section clearfix">
    <div class="d-light-bx">
        <a class="dnld" href="{Files.downlonadLink}"><img alt="icon" src="typo3conf/ext/js_download/Resources/Public/Images/dnld-icon.png"></a>
    </div>
    <ul>
        <li><f:format.date format="d.m.Y">@{Files.date}</f:format.date></li>
        <li>{Files.fileType}</li>
    </ul>
    <div class="clnk-name"><a href="{Files.downlonadLink}">{Files.title}</a></div>
    <div class="clnk-place">
        <p>{Files.short_description}</p>
    </div>
    <div class="bild-name">{Files.imageName}</div>
</div>