{namespace n=Tx_News_ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<div class="grid-description clearfix">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	

	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<f:then>
			<div class="col-sm-6 col-lg-6 col-md-6 pgn-lft">
				<f:if condition="{newsItem.falMediaPreviews}">
					<f:then>
						
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="355c" height="155c" class="img-responsive"/>
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
								</f:if>
							</f:alias>
						
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
							<span class="no-media-element">
								
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="355" maxHeight="155"/>
								
							</span>
						</f:if>
					</f:else>
				</f:if>

			</div>
		</f:then>
		<f:else>

			<f:if condition="{newsItem.media}">
				<!-- media preview element -->
				<f:then>
					<div class="news-img-wrap">
						<f:if condition="{newsItem.mediaPreviews}">
							<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
										<f:if condition="{mediaElement.type} == 0">
											<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 1">
											<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 2">
											<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
										</f:if>
									</f:alias>
								</n:link>
							</f:then>
							<f:else>
								<f:if condition="{settings.displayDummyIfNoMedia}">
									<span class="no-media-element">
										<n:link newsItem="{newsItem}" settings="{settings}">
											<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
										</n:link>
									</span>
								</f:if>
							</f:else>
						</f:if>

					</div>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<f:then>
							<div class="col-sm-6 col-lg-6 col-md-6 pgn-lft">								
									
										<!--remove dummy image start (vijay rami)
										<f:image src="EXT:demotemplate/Newscustom/Resources/Public/Images/no-image.png" title="" class="img-responsive" alt="" width="355c" height="155c"/>
										remove dummy image ends (vijay rami)-->
									
							</div>
						</f:then>
					</f:if>
				</f:else>
			</f:if>

		</f:else>
	</f:if>

	
	<!-- teas=ser text -->
	<div class="col-sm-6 col-lg-6 col-md-6 pdg-rt">
		<!-- header -->
		
				
			<span class="date">{newsItem.title}</span><br/>
                        
<!--				<n:link newsItem="{newsItem}" settings="{settings}">-->
					
<!--				</n:link>-->
			
		
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<p>{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}</p>
			</f:then>
			<f:else>
				<p>{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}</p>
			</f:else>
		</f:if>

		<n:link newsItem="{newsItem}" settings="{settings}" class="more">
			<f:translate key="LLL:EXT:demotemplate/Resources/Private/Language/locallang.xml:news.read_more"/>
		</n:link>
	</div>

	<!-- footer information -->
	<div class="footer">
		<p>
			<!-- date -->
			

			<f:if condition="{newsItem.firstCategory}">
				<!-- first category -->
				<span class="news-list-category">{newsItem.firstCategory.title}</span>
			</f:if>

			<f:if condition="{newsItem.tags}">
				<!-- Tags -->
				<span class="news-list-tags">
					<f:for each="{newsItem.tags}" as="tag">
						{tag.title}
					</f:for>
				</span>
			</f:if>

			<!-- author -->
			<!--remove author information start (vijay rami)
			<f:if condition="{newsItem.author}">
				<span class="news-list-author">
					<f:translate key="author" arguments="{0:newsItem.author}"/>
				</span>
			</f:if>
			remove author information ends (vijay rami)-->
		</p>
	</div>
</div>
