

<f:layout name="Default" />

<f:section name="main">
<f:flashMessages renderMode="div" />
<f:for each="{courses}" as="course">
<div class="content-center clearfix">
		<div class="page-header text-center">
			<h2>{course.name}</h2>
			<h4>{course.organiser}</h4>
		</div>
		<div class="description clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pdg-lt">
				<f:format.html>{course.description}</f:format.html>
			</div>			
		</div>
</div>

<f:render partial="Course/Properties" arguments="{course:course}" />
<f:render partial="Course/ImageList" arguments="{course:course}" />

</f:for>

  <f:render partial="Course/RelatedCourses" arguments="{related_courses:related_courses}" />
</f:section>