 

@mixin light-gray-bg{
	background: #f4f4f4 none repeat scroll 0 0;
}
 .inr-page-content {
    margin: 66px 0 22px;
    padding-bottom: 10px;
    word-wrap: break-word;
	.page-header{margin:0; padding:0}
 	h1{color:$o-color; font-weight:bold; font-size: 50px; text-transform:uppercase; margin-bottom: 30px;
 	@media screen and (max-width:1000px){
		font-size: 35px;
	}
	@media screen and (max-width:450px){
		font-size: 25px;
	}

 	}
	
	.newsbox {
	    @include light-gray-bg;
	    border: 8px solid #e2e1de;
	    padding: 15px;
	    margin-bottom: 30px;
		@include transition-gen();
	    img{display:block; margin:0 auto}
	    h4{margin: 15px 0 5px 0;}
	    .job-icon{display:block; text-align:center; margin-bottom:25px;}
	    .job-icon img{
			  height: auto;
			  max-width: 150px;
			  width: 100%;
	    }
	    &:hover{border:8px solid $o-color;}
	}

	.btn {border-radius: 0; border:0;background: #ef7f01 none repeat scroll 0 0; color:#fff;
	&:hover{background:$base-color; color:#fff}
	}
	.btn.download{
		position:relative;
		padding-left: 40px;
		&:before{
			background:url("../images/pdf-download.png") top left no-repeat;
			content: "";
		    display: block;
		    height: 33px;
		    left: 2px;
		    position: absolute;
		    top: 1px;
		    width: 38px;
			}
		}
	.newsdetail {
    	margin: 50px 0;
	}

	.pdflist{
		.newsbox{text-align: center;}
		.pdf-icon{background:url("../images/sprite.png") top left no-repeat; height:150px; width:150px; display:block; margin:0 auto;word-wrap: break-word;}
		.pdf-upload {
		    display: block;
		    font-size: 16px;
		    font-weight: bold;
		    &:hover{color:$o-color}
		}
	}

	//Kontakt List start
	.kontakt-wrap  h3{color:$o-color;}
	.kontakt-list {
		border: 8px solid #e2e1de;
	    margin-bottom: 15px;
	    padding-bottom: 5px;
	    padding-top: 15px;
		@include light-gray-bg;
	    .kontakt-img img{
	    	height: auto;
		    max-width: 250px;
		    width: 100%;}
		   h4{margin-top:0; color:$base-color} 
	}
	//Team List start
	.team-wrap{
		.teamlist-item{
		@include light-gray-bg;
		padding: 15px 0;
		border: 1px solid #e2e1de; 
		margin-bottom: 15px;   
		
		.img-circle img{
		    border-radius: 50%;
		    display: block;
		    height: auto;
		    width: 100%;
		    max-width: 225px;
		    max-height: 225px;
		    border: 8px solid #e2e1de; 
		    margin: 0 auto;   
		}	
		h4{margin-bottom: 0;}
		em{margin-bottom: 15px; display:block}
		.small-font{font-size:12px}

		}
	}

}

// Innepage Event/News Gallery bootstrape carousel over-write

#myCarousel {
	margin:10px 0;
	border: 10px solid $o-color;

	.item img{width:100%}
	.carousel-control {
	    bottom: 0;
	    color: #fff;
	    font-size: 20px;
	    left: 0;
	    opacity: 0.5;
	    position: absolute;
	    text-align: center;
	    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	    top: 0;
	    width: 15%;
	    background: transparent none repeat scroll 0 0;
	    height: 100%;
	}
    .carousel-control.left {
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
	    background-repeat: repeat-x;
	}
	.carousel-control.right {
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
	    background-repeat: repeat-x;
	    left: auto;
	    right: 0;
	}
	.carousel-control:focus, .carousel-control:hover {
	    color: #fff;
	    opacity: 0.9;
	    outline: 0 none;
	    text-decoration: none;
	}
	.carousel-control .icon-next, .carousel-control .icon-prev {
	    display: inline-block;
	    margin-top: -10px;
	    position: absolute;
	    top: 45%;
	    z-index: 5;
	}
	.carousel-control .icon-next, .carousel-control .icon-prev {
	    font-family: serif;
	    height: 75px;
	    width: 40px;
	}
	.carousel-control .icon-prev {
	    left: 50%;
	    margin-left: -10px;
	    background: url("../images/slider-arrow.png") top left no-repeat;
	}
	.carousel-control .icon-next {
	    margin-right: -10px;
	    right: 50%;
	    background: url("../images/slider-arrow.png") top right no-repeat;
	}
	.carousel-control .icon-prev::before,.carousel-control .icon-next::before  {
    	content: "";
	}

}

