<f:layout name="Default" />
<f:section name="main">
	<div class="thx_message">
		<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{settings.thxMessage}</f:format.html>
          <!--<a class="btn btn-lg btn-primary" href="javascript:history.go(-1);" ><f:translate key="tx_property_domain_model_property.back" /></a>-->
	</div>
    	<!--<link type="text/css" rel="stylesheet" href="/typo3conf/ext/fluxtemplate/Resources/Public/Css/bootstrap.min.css" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css" />
		<link href="/typo3conf/ext/fluxtemplate/Resources/Public/Css/style.css" rel="stylesheet" type="text/css" />-->
</f:section>