{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	xmlns:v="http://fedext.net/ns/vhs/ViewHelpers" 
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		
        <flux:form label="One Column Container" id="twocolumn" description="100% - Column Container" icon="../typo3conf/ext/enzensberg/Resources/Public/images/one-column.png" options="{Fluidcontent: {sorting: 01},group: 'Container'}">

			<flux:field.select name="backgroundColor" label="Style Class" items="white, dark" default="white" />
            <flux:field.select name="select" label="Header Type" items="{1:'Header 1',2:'Header 2'}" default="2"></flux:field.select>
            <flux:field.input name="header" label="Main Title" />

			<flux:grid>
				<flux:grid.row>
					<flux:grid.column style="width: 100%" name="column1" label="Inhalt">
					</flux:grid.column>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
        
	</f:section>

	<f:section name="Main">
    
		<f:if condition="{backgroundColor}=='dark'">
			<f:then>
				<v:variable.set name="bgColor" value="dark"></v:variable.set>
			</f:then>
			<f:else>
				<v:variable.set name="bgColor" value="white"></v:variable.set>
			</f:else>
		</f:if>
        
		<section class="{bgColor}-section clearfix">
			<div class="container">
				<div class="row">
	                <f:if condition="{header}">
                        <div class="col-lg-12">
                            <f:if condition="{select}==1">
                                <h1>{header}</h1>
                            </f:if>
                            <f:if condition="{select}==2">
                                <h2>{header}</h2>
                            </f:if>
                        </div>
                    </f:if>
					<div class="col-lg-12">
						<flux:content.render render="1" area="column1" />
					</div>
				</div>
			</div>
		</section>
        
	</f:section>
    
	<f:section name="Preview">
		<strong>Theme : {backgroundColor}</strong>
        <f:if condition="{header}">
            <br /><h4>{header}</h4>
        </f:if>
		<flux:widget.grid />
	</f:section>
    
</div>