<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="link" label="Home Links" description="Home Link Element" icon="" options="{Fluidcontent: {sorting: 102},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
        <flux:form.section name="links" label="FixTop Slider">
          <flux:form.object name="Link" label="Add New Slide">
                       <flux:field.text name="content" label="Content" enableRichText="1"></flux:field.text>
                       
             </flux:form.object>
        </flux:form.section>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 
    <section class="slice base">
          <div class="wp-section">
              <div class="container">
                  <div class="row">
                      <f:if condition="{links}">
                          <f:for each="{links}" as="Links" iteration="iteration">
                              <div class="col-md-4 col-sm-6 ">
                                  <div class="icon-block icon-block-1">
                                      
                                      <div class="icon-block-body customicon">
                                          <f:format.crop maxCharacters="200">
                                          <f:format.html>{Links.Link.content}</f:format.html></f:format.crop>
                                      </div>
                                  </div>
                              </div>
                          </f:for>
                      </f:if>
                  </div>
              </div>  
          </div>
      </section>


</f:section>
</div>
