<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="slide" label="What We Are Slider" description="What We Are Slider Element" icon="" options="{Fluidcontent: {sorting: 103},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
        <flux:form.section name="slide" label="FixTop Slider">
          <flux:form.object name="Slide" label="Add New Slide">
                <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"/>
                <flux:field.input name="title" label="Title"/>
                <flux:field.text name="content" label="Content" enableRichText="1"></flux:field.text>
            </flux:form.object>
        </flux:form.section>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 
      <section id="companyCarousel" class="carousel carousel-2 slide bg-white bb" data-ride="carousel">
        <div class="container relative">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                  <f:for each="{slide}" as="slides" iteration="iteration">
                      <li data-target="#companyCarousel" data-slide-to="{iteration.index}" <f:if condition='{iteration.index} == 0'>class='active'</f:if>></li>
                </f:for>
            </ol>
            <div class="carousel-inner">
                <div class="owl-carousel owl-carousel-single no-padding">
                     <f:if condition="{slide}">
                        <f:for each="{slide}" as="slides" iteration="iteration">
                            <div class="item <f:if condition='{iteration.index} == 0'>active</f:if>">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="title">{slides.Slide.title}</h2>
                                        <f:format.html>{slides.Slide.content}</f:format.html>
                                    </div>
                                    <div class="col-md-6">
                                        <f:image src="uploads/slider_images/{slides.Slide.picture}" alt="{slide.slider.alt}" class="img-responsive" width="1920c" height=""/>
                                    </div>
                                </div>
                            </div>
                        </f:for>
                    </f:if>
                </div>
            </div>
        </div>
    </section>

</f:section>
</div>
