$pt:             'PT Sans', sans-serif !default;
$m0:             0px !default;
$base-color:     #014a8f !default;
$o-color:     #ef7f01 !default;

//  Divyesh 18/09/2015
$light-color: #fff;
$light-gray: #e0e0e0;
$gutter-big: 60px;
$gutter: 15px;