$pt:             'Lato', sans-serif !default;
$m0:             0px !default;
$base-color:     #014a8f !default;
$o-color:     #ef7f01 !default;

//  Divyesh 18/09/2015
$light-color: #fff;
$light-gray: #e0e0e0;
$gutter-big: 60px;
$gutter: 15px;

//Overwrite Bootsrape

/*$font-size-h1:             
$font-size-h2:            
$font-size-h3:            
$font-size-h4:            
$font-size-h5:            
$font-size-h6:  */          
@mixin transition-gen(){
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
} 

@mixin transition-bgclr(){
	transition: background 0.5s linear 0s;
	-webkit-transition: background 0.5s linear 0s;
	-moz-transition: background 0.5s linear 0s;
	-ms-transition: background 0.5s linear 0s;
	-o-transition: background 0.5s linear 0s;
} 
@mixin transition-height(){
	transition: height 0.5s ease;
	-webkit-transition: height 0.5s ease;
	-moz-transition: height 0.5s ease;
	-ms-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
} 

@mixin vertical-align(){
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
