
<table class="tx-events" >
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_event.title" />
		</td>
		<td>
		{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_event.date" />
		</td>
		<td>
		{event.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_event.time" />
		</td>
		<td>
		{event.time}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_event.private" />
		</td>
		<td>
		{event.private}
		</td>
	</tr>
</table>