
<label for="name">
	<f:translate key="tx_arzte_domain_model_doctorelist.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="image">
	<f:translate key="tx_arzte_domain_model_doctorelist.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="shortInformation">
	<f:translate key="tx_arzte_domain_model_doctorelist.short_information" />
</label><br />
	<f:form.textarea property="shortInformation" cols="40" rows="15" /><br />
<label for="address">
	<f:translate key="tx_arzte_domain_model_doctorelist.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="logo">
	<f:translate key="tx_arzte_domain_model_doctorelist.logo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="headline">
	<f:translate key="tx_arzte_domain_model_doctorelist.headline" />
</label><br />
	<f:form.textfield property="headline" /><br />
<label for="detailedinformation">
	<f:translate key="tx_arzte_domain_model_doctorelist.detailedinformation" />
</label><br />
	<f:form.textarea property="detailedinformation" cols="40" rows="15" /><br />
<label for="link">
	<f:translate key="tx_arzte_domain_model_doctorelist.link" />
</label><br />
	<f:form.textfield property="link" /><br />