
<table class="tx-arzte" >
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.name" />
		</td>
		<td>
		{doctoreList.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.image" />
		</td>
		<td>
				<f:image src="{doctoreList.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.short_information" />
		</td>
		<td>
		{doctoreList.shortInformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.address" />
		</td>
		<td>
		{doctoreList.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.logo" />
		</td>
		<td>
				<f:image src="{doctoreList.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.headline" />
		</td>
		<td>
		{doctoreList.headline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.detailedinformation" />
		</td>
		<td>
		{doctoreList.detailedinformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_doctorelist.link" />
		</td>
		<td>
		{doctoreList.link}
		</td>
	</tr>
</table>