
<label for="name">
	<f:translate key="tx_arzte_domain_model_list.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="image">
	<f:translate key="tx_arzte_domain_model_list.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="shortInformation">
	<f:translate key="tx_arzte_domain_model_list.short_information" />
</label><br />
	<f:form.textarea property="shortInformation" cols="40" rows="15" /><br />
<label for="address">
	<f:translate key="tx_arzte_domain_model_list.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="phonenumber">
	<f:translate key="tx_arzte_domain_model_list.phonenumber" />
</label><br />
	<f:form.textfield property="phonenumber" /><br />
<label for="logo">
	<f:translate key="tx_arzte_domain_model_list.logo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="headline">
	<f:translate key="tx_arzte_domain_model_list.headline" />
</label><br />
	<f:form.textfield property="headline" /><br />
<label for="detailedinformation">
	<f:translate key="tx_arzte_domain_model_list.detailedinformation" />
</label><br />
	<f:form.textfield property="detailedinformation" /><br />