
<table class="tx-arzte" >
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.name" />
		</td>
		<td>
		{list.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.image" />
		</td>
		<td>
				<f:image src="{list.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.short_information" />
		</td>
		<td>
		{list.shortInformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.address" />
		</td>
		<td>
		{list.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.phonenumber" />
		</td>
		<td>
		{list.phonenumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.logo" />
		</td>
		<td>
				<f:image src="{list.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.headline" />
		</td>
		<td>
		{list.headline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arzte_domain_model_list.detailedinformation" />
		</td>
		<td>
		{list.detailedinformation}
		</td>
	</tr>
</table>