.slider {
	margin: 50px 0 10px!important;
}
#carousel li {
	margin-right: 25px;
}
#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}
#carousel img:hover {
	opacity: 1;
}
#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}
.button {
	display: inline-block;
	margin: 0;
	padding: .461em 1.563em .41em;
	color: #fff!important;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	line-height: 1;
	font-size: .9em;
	cursor: pointer;
	font-family: "proxima-nova", sans-serif;
	border: 1px solid #1a4064;
	background: #255a8c;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.button:active {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.green {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	border: 1px solid #578824;
	background: #71b02f;
}
.button.green:hover {
	background: #79bc32;
}
/* Loading
***********************/
.loading #container {
	opacity: 0;
}
.loading:before {
	content: 'LOADING';
	display: block;
	margin: 100px 0 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 60px;
	opacity: 0.3;
}
/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective, .md-perspective body {
	height: 100%;
	overflow: hidden;
}
.md-perspective body {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
.md-modal {
	position: absolute;
	top: 10%;
	left: 41%;
	width: 70%;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: none;
	margin: 10%;
}
.md-show {
	display: block;
}
/*
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
} */

/*.md-show ~ .md-overlay {*/

.md-overlay {
	opacity: 1;
	visibility: visible;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Content styles */
.md-content {
	border: 1px solid #666;
	box-shadow: inset 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000;
	-o-box-shadow: inset 0 0 10px #000;
	background: #fff;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
}
.md-content > div {
	padding: 30px;
	margin: 0;
}
.md-content > div p {
	margin: 0;
	padding: 10px 0;
}
.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}
.md-content > div ul li {
	padding: 5px 0;
}
.md-content button {
	display: block;
	margin: 0 auto;
	padding: 0px;
	background: url(../images/close.png) left top no-repeat;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-indent: -1000px;
	border: none;
}
/* Individual modal styles with animations/transitions */


/* Effect 11: Super scaled */
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
 @-webkit-keyframes slit {
 50% {
-webkit-transform: translateZ(-250px) rotateY(89deg);
opacity: .5;
-webkit-animation-timing-function: ease-out;
}
 100% {
-webkit-transform: translateZ(0) rotateY(0deg);
opacity: 1;
}
}
 @-moz-keyframes slit {
 50% {
-moz-transform: translateZ(-250px) rotateY(89deg);
opacity: .5;
-moz-animation-timing-function: ease-out;
}
 100% {
-moz-transform: translateZ(0) rotateY(0deg);
opacity: 1;
}
}
 @keyframes slit {
 50% {
transform: translateZ(-250px) rotateY(89deg);
opacity: 1;
animation-timing-function: ease-in;
}
 100% {
transform: translateZ(0) rotateY(0deg);
opacity: 1;
}
}
 @-webkit-keyframes rotateRightSideFirst {
 50% {
-webkit-transform: translateZ(-50px) rotateY(5deg);
-webkit-animation-timing-function: ease-out;
}
 100% {
-webkit-transform: translateZ(-200px);
}
}
 @-moz-keyframes rotateRightSideFirst {
 50% {
-moz-transform: translateZ(-50px) rotateY(5deg);
-moz-animation-timing-function: ease-out;
}
 100% {
-moz-transform: translateZ(-200px);
}
}
 @keyframes rotateRightSideFirst {
 50% {
transform: translateZ(-50px) rotateY(5deg);
animation-timing-function: ease-out;
}
 100% {
transform: translateZ(-200px);
}
}
 @-webkit-keyframes OpenTop {
 50% {
 -webkit-transform: rotateX(10deg);
 -webkit-animation-timing-function: ease-out;
}
}
 @-moz-keyframes OpenTop {
 50% {
 -moz-transform: rotateX(10deg);
 -moz-animation-timing-function: ease-out;
}
}
 @keyframes OpenTop {
 50% {
 transform: rotateX(10deg);
 animation-timing-function: ease-out;
}
}
 @media screen and (max-width: 32em) {
body {
	font-size: 75%;
}
}
