{namespace vh=In2code\Powermail\ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="form-group clearfix powermail_fieldwrap_{field.uid} {field.css}">
    <div class="col-sm-3">
	<label for="powermail_field_{field.marker}" class="control-label contact-label powermail_label" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>
    </div>
	<div class="col-sm-9">
	<f:form.textfield
		type="{vh:Validation.FieldTypeFromValidation(field:field)}"
		property="{field.marker}"
		placeholder="{field.placeholder}"
		value="{vh:Misc.PrefillField(field:field, mail:mail)}"
		class="form-control powermail_field powermail_input {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
		additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
		id="powermail_field_{field.marker}" />
	</div>	
</div>