


<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form label="About bridge" id="About_bridge" description="About Brigde Content" icon="" options="{Fluidcontent: {sorting: 109},group: 'Custom elements'}">
            <flux:form.sheet name="options" label="Options">
                        <flux:field.input name="title" label="Main Title" />
                        <flux:field.input name="subtitle" label="Sub Title" />
                        <flux:field.text name="content" label="Add Content" enableRichText="1"></flux:field.text>   
                        <flux:field.file name="Picture" uploadFolder="uploads/slider_images/" label="Upload Background Image" allowed="jpg, jpeg, png, gif"/>
                        <flux:field.input name="alt_title" label="Alternative Title" />
            </flux:form.sheet>  
        </flux:form>
    </f:section>

<f:section name="Main">
<div class="user-bridge clearfix" <f:if condition='{Picture}'>style="background:rgba(0,0,0,0.9) url('uploads/slider_images/{Picture}') repeat fixed 0 0/cover"</f:if>>
                <!--for background color-->
    <div class="color-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="content text-center ">
                <div class="col-sm-6 wow fadeInLeftBig">
                    <article class="page-header">
                        <f:if condition="{title}">
                            <h2 class="text-uppercase">{title}</h2>
                        </f:if>
                        <f:if condition="{subtitle}">
                            <h3>{subtitle}</h3>
                        </f:if>
                    </article>
                </div>
                <div class="col-sm-6 para wow fadeInRightBig">
                   <f:if condition="{content}">
                       <f:format.html>{content}</f:format.html>
                   </f:if>
                </div>
            </div>
        </div>
    </div>
</div>
</f:section>
    
<f:section name="Preview">
     
    <f:if condition="{title}">
        <f:then>
            <h2>Header Title : {title}</h2>
        </f:then>
        <f:else>
            <h2>Header Title : Title is not inserted</h2>
        </f:else>
    </f:if>
    <f:if condition="{subtitle}">
        <f:then>
            <h3>{subtitle}</h3>
        </f:then>
        <f:else>
            <h2>Sub Title is not inserted</h2>
        </f:else>
    </f:if>
            
    <f:format.html>{content}</f:format.html>
            
    <f:if condition="{Picture}">
         <f:then>
             Background Image : <br>
             <f:image src="uploads/slider_images/{Picture}" alt="{alt_title}" class="img-responsive"  width="500c" height="223c"/>
         </f:then>
         <f:else>
             <h2>Background Image Not inserted</h2>
         </f:else>
    </f:if>
</f:section>

</div>







