<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form label="Home page Links" id="homelinks" description="Home page Links JOB PERSONAL SERVICE" icon="" options="{Fluidcontent: {sorting: 109},group: 'Custom elements'}">
            <flux:form.sheet name="options" label="Options">
                    
                        <flux:field.input name="title" label="Main Title" />
                         
                        <flux:field.text name="content" label="Add Content" enableRichText="1"></flux:field.text>

                        <flux:field.file name="jobpicture" uploadFolder="uploads/slider_images/" label="Upload Job Link Image" allowed="jpg, jpeg, png, gif"/>
                        <flux:field.input name="Joblink" label="Job ink">
                            <flux:wizard.link />
                        </flux:field.input>

                        <flux:field.file name="personalpicture" uploadFolder="uploads/slider_images/" label="Upload Personal Link Image" allowed="jpg, jpeg, png, gif"/>
                        <flux:field.input name="Personallink" label="Personal Link">
                            <flux:wizard.link />
                        </flux:field.input>

                        <flux:field.file name="servicepicture" uploadFolder="uploads/slider_images/" label="Upload Service Link Image" allowed="jpg, jpeg, png, gif"/>             <flux:field.input name="Servicelink" label="Service Link">
                            <flux:wizard.link />
                        </flux:field.input>
                      
                        <flux:field.input name="alt_title" label="Alternative Title for Image" />
            </flux:form.sheet>  
        </flux:form>
    </f:section>

<f:section name="Main">
<div class="bridge clearfix">
    <div class="container">
        <div class="row">
            <div class="content text-center clearfix wow fadeInDown">
                <article class="page-header">
                    <h2 class="module-blue">{title}</h2>
                     <f:format.html>{content}</f:format.html>
                </article>
                <div class="top-view clearfix">
                    <div class="img-map clearfix">
                        <div class="job">
                            <f:if condition="{Joblink}">
                                <f:link.page pageUid="{Joblink}"  target="_blank" title="Job">
                                    <f:if condition="{jobpicture}">
                                        <f:image src="uploads/slider_images/{jobpicture}" alt="{alt_title}" class="img-responsive"  width="179c" height="223c"/>
                                    </f:if>
                                </f:link.page>
                            </f:if>
                        </div>
                        <div class="personal">
                            <f:if condition="{Personallink}">
                                 <f:link.page pageUid="{Personallink}"  target="_blank" title="Personal">
                                   <f:if condition="{personalpicture}">
                                        <f:image src="uploads/slider_images/{personalpicture}" alt="{alt_title}" class="img-responsive"  width="121c" height="223c"/>
                                    </f:if>
                                 </f:link.page>
                             </f:if>
                        </div>    
                        <div class="service">
                            <f:if condition="{Servicelink}">
                                <f:link.page pageUid="{Servicelink}" target="_blank" title="Service">
                                   <f:if condition="{servicepicture}">
                                        <f:image src="uploads/slider_images/{servicepicture}" alt="{alt_title}" class="img-responsive"  width="199c" height="223c"/>
                                    </f:if>
                                </f:link.page>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
                                       
                 
</f:section>
    
<f:section name="Preview">
    <div class="content text-center clearfix wow fadeInDown">
        <article class="page-header">
            
            <f:if condition="{title}">
                <f:then>
                     <h2 class="module-blue">{title}</h2>
                </f:then>
                <f:else>
                    <h2>Title is Not inserted. Please Add title.</h2>
                </f:else>
            </f:if>
            <f:if condition="{content}">
                <f:then>
                    <f:format.html>{content}</f:format.html>
                </f:then>
                <f:else>
                    <h2>Content is Not inserted. Please Add Content.</h2>
                </f:else>
            </f:if>
        </article>
        <div class="top-view">
            <div class="img-map">
                <f:if condition="{jobpicture}">
                 <f:then>
                     <f:image src="uploads/slider_images/{jobpicture}" alt="{alt_title}" class="img-responsive"  width="179c" height="223c"/>
                 </f:then>
                 <f:else>
                     <h2>Job Image is not Inserted.</h2>
                 </f:else>
                </f:if>
                <f:if condition="{personalpicture}">
                 <f:then>
                     <f:image src="uploads/slider_images/{personalpicture}" alt="{alt_title}" class="img-responsive"  width="121c" height="223c"/>
                 </f:then>
                 <f:else>
                     <h2>Personal Image is not Inserted.</h2>
                 </f:else>
                </f:if>
                <f:if condition="{servicepicture}">
                 <f:then>
                     <f:image src="uploads/slider_images/{servicepicture}" alt="{alt_title}" class="img-responsive"  width="199c" height="223c"/>
                 </f:then>
                 <f:else>
                     <h2>Service Image is not Inserted.</h2>
                 </f:else>
                </f:if>
                               
            </div>
        </div>
    </div>
</f:section>

</div>







