<f:layout name='Default'/>
<f:section name='main'>

	<div style='font-family: Arial;'>
		
		<f:translate key="LLL:EXT:js_greetingcards/Resources/Private/Language/locallang.xlf:tx_jsgreetingcards_domain_model_greetingswishes.mailContent.dear.admin" />,
		<br><br>
		<f:translate key="LLL:EXT:js_greetingcards/Resources/Private/Language/locallang.xlf:tx_jsgreetingcards_domain_model_greetingswishes.mailContent.dear.content1" />
		<f:if condition="{mail -> f:count()} > 0">
			<table>
				<f:for each="{mail}" as="fields"  iteration="itemIteration">
					<tr>
						<td><strong><f:translate key="LLL:EXT:js_greetingcards/Resources/Private/Language/locallang.xlf:tx_jsgreetingcards_domain_model_greetingswishes.{fields.field}" /></strong></td>
						<td>: {fields.value}</td>
					</tr>
				</f:for>
			</table>
			<br><br>
		</f:if>
		<f:translate key="LLL:EXT:js_greetingcards/Resources/Private/Language/locallang.xlf:tx_jsgreetingcards_domain_model_greetingswishes.mailContent.regards" />
		<br>
		<f:translate key="LLL:EXT:js_greetingcards/Resources/Private/Language/locallang.xlf:tx_jsgreetingcards_domain_model_greetingswishes.mailContent.signature" />
		
	</div>
</f:section>