.fb{background: url("../images/social-icon.png") 0 0 no-repeat; height: 23px; width: 24px; display: inline-block; float: left;font-size: 0;}

.ytub{background: url("../images/social-icon.png") 0 0 no-repeat;height: 23px; width: 24px;display: inline-block;float: left;font-size: 0;}