{namespace n=Tx_News_ViewHelpers}
        <div class="col-sm-4 ">
          <div class="news-box">
            <div class="img_thumb">
              <f:if condition="{newsItem.falMedia}"> 
                <!-- fal media preview element -->
                <f:then>
                  <div class="news-img-wrap">
                    <f:if condition="{newsItem.falMediaPreviews}">
                      <f:then>
                        <n:link newsItem="{newsItem}" settings="{settings}">
                          <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                            <f:if condition="{mediaElement.originalResource.type} == 2">
                              <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="280c" height="280c"/>
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 4">
                              <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                            </f:if>
                          </f:alias>
                        </n:link>
                      </f:then>
                      <f:else>
                        <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                          <n:link newsItem="{newsItem}" settings="{settings}">
                            <f:image src="{settings.list.media.dummyImage}" title="" alt="" />
                          </n:link>
                          </span> </f:if>
                      </f:else>
                    </f:if>
                  </div>
                </f:then>
                <f:else>
                  <f:if condition="{newsItem.media}"> 
                    <!-- media preview element -->
                    <f:then>
                      <div class="news-img-wrap">
                        <f:if condition="{newsItem.mediaPreviews}">
                          <f:then>
                            <n:link newsItem="{newsItem}" settings="{settings}">
                              <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                <f:if condition="{mediaElement.type} == 0">
                                  <f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                </f:if>
                                <f:if condition="{mediaElement.type} == 1">
                                  <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                </f:if>
                                <f:if condition="{mediaElement.type} == 2">
                                  <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
                                </f:if>
                              </f:alias>
                            </n:link>
                          </f:then>
                          <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                              <n:link newsItem="{newsItem}" settings="{settings}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                              </n:link>
                              </span> </f:if>
                          </f:else>
                        </f:if>
                      </div>
                    </f:then>
                    <f:else>
                      <f:if condition="{settings.displayDummyIfNoMedia}">
                        <f:then>
                          <div class="news-img-wrap">
                            <n:link newsItem="{newsItem}" settings="{settings}"> <span class="no-media-element">
                              <f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                              </span> </n:link>
                          </div>
                        </f:then>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </div>
            <div class="thumb_detail">
           
              <span>
              <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
              
              </span>
               <f:format.crop maxCharacters="150"><p>{newsItem.title}</p></f:format.crop> 
              
            
               <!--  <f:if condition="{newsItem.teaser}">
                  <f:then> {newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()} </f:then>
                  <f:else> {newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()} </f:else>
                </f:if> -->
            
				<n:link newsItem="{newsItem}" settings="{settings}" class="news_view btn">
         Mehr Lesen
					<!-- <f:translate key="more-link"/> -->
				</n:link>
				
            </div>
        </div>
	</div>


