
<table class="tx-company-management" >
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.name" />
		</td>
		<td>
		{state.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.main_logo" />
		</td>
		<td>
				<f:image src="{state.mainLogo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.small_logo" />
		</td>
		<td>
				<f:image src="{state.smallLogo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_state.secondary_logo" />
		</td>
		<td>
				<f:image src="{state.secondaryLogo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>