{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	
	<f:section name="Configuration">
		<v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
		
		<flux:form id="sliderhome" label="Home slider" description="Home Slider Element" icon="" options="{Fluidcontent: {sorting: 100},group: 'Custom elements'}">
			<flux:form.sheet name="options" label="Options">
				<flux:form.section name="sliders" label="Home Page Slider">
					<flux:form.object name="slider" label="Add New Slide">
						<flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"/>						
						<flux:field.input name="title" label="Title" />		
						<flux:field.input name="subtitle" label="Sub Title" />
						<flux:field.input name="link" label="Link">
							<flux:wizard.link />
						</flux:field.input>							
						<flux:field.checkbox name="target" label="External Link" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Main">	
		<f:if condition="{sliders}">
			<header id="commonheader">
					<div id="owl-demo" class="owl-carousel">
					<f:for each="{sliders}" as="slider" iteration="iteration">
						<div class="item">
								<img src="uploads/slider_images/{slider.slider.picture}" alt="{slider.slider.picture_alt}" />
									<div class="sliderbtn" id="sliderbtn"><img src="typo3conf/ext/fluxtemplate/Resources/Public/images/slider-btn.png" alt="btn" /></div>
								<div class="image-cap">
									<f:if condition="{slider.slider.title}"><h2><f:format.raw>{slider.slider.title}</f:format.raw></h2></f:if>
									<f:if condition="{slider.slider.subtitle}"><span><f:format.raw>{slider.slider.subtitle}</f:format.raw></span></f:if>
									<f:if condition="{slider.slider.link}">
										<f:if condition="{slider.slider.target} == 1">
											<f:then>
												<f:link.external uri="{slider.slider.link}" class="sliderreadmore" target="_blank"><span>mehr Informationen</span> <span class="fa fa-angle-double-right"></span></f:link.external>
											</f:then>
											<f:else>
												<f:link.page pageUid="{slider.slider.link}" class="sliderreadmore"><span>mehr Informationen</span> <span class="fa fa-angle-double-right"></span></f:link.page>
											</f:else>
										</f:if>
									</f:if>
								</div>
						</div>								
					</f:for>				
					</div>
			</header>	
		</f:if>
	</f:section>
	
</div>
