{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	
	<f:section name="Configuration">
		<v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
		
		<flux:form id="detailpage" label="Detail View" description="Detail View Element" icon="" options="{Fluidcontent: {sorting: 101},group: 'Custom elements'}">
			<flux:form.sheet name="options" label="Options">
				<flux:field.input name="pagetitle" label="Page Title" />
				<flux:field.file name="picture" uploadFolder="uploads/tx_fluxtemplate/" label="Upload Image" allowed="jpg, jpeg, png, gif"/>
				<flux:field.input name="picture_alt" label="Alternative Text" />
				<flux:field.text name="content" label="Content" enableRichText="1"></flux:field.text>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Main">
		<h2>{pagetitle}</h2>
		<div class="col-md-5">
	  		<f:image src="uploads/tx_fluxtemplate/{picture}" alt="{picture_alt}"  width="1000"  height="750" class="img-responsive box_shadow"/>
	  	</div> 
      	<div class="col-md-7 text-justify">
      		<f:format.raw>{content}</f:format.raw>
      	</div>
	</f:section>
	
</div>
