{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	
	<f:section name="Configuration">
		<v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
		<flux:form id="footersocialmeadia" label="Footer Social Media Content" description="Footer Social Media Content Element" icon="" options="{Fluidcontent: {sorting: 112},group: 'Custom elements'}">
			<flux:field.text name="contentsocialmedia" label="Social Media Links"></flux:field.text>
		</flux:form>
	</f:section>

	<f:section name="Main">
		<div class="col-md-12 text-right clear">
          <div class="row"> <f:format.raw>{contentsocialmedia}</f:format.raw> </div>
        </div>
	</f:section>
	

</div>
