{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page"/>


	<v:page.header>
		<f:render section="Resources" optional="TRUE" arguments="{_all}"/>
	</v:page.header>

	<f:link.page class="sr-only" section="content"><v:l key="skip_navigation" /></f:link.page>


	<div class="header">
		<div class="container">
			<div class="row">
			<div class="navbar-fixed-top">

				<f:render section="SpecialNavigation" partial="SpecialNavigation" arguments="{_all}"/>

				<f:render section="Navigation" partial="Navigation" arguments="{_all}"/>

			</div>

			<f:render section="HeaderContent" optional="TRUE" arguments="{_all}"/>
		
			<f:render section="Breadcrumb" partial="Breadcrumb" optional="TRUE" arguments="{_all}"/>
			
		</div>
	</div>
	</div>



	<main class="main-content" id="content" role="main">

		<!--TYPO3SEARCH_begin-->
		<f:render section="Content"/>
		<!--TYPO3SEARCH_end-->
	</main>


	<footer >

		
		<f:render section="Footer" partial="Footer" arguments="{_all}"/>


	</footer>

	<v:page.footer>

	</v:page.footer>
	