<f:if condition="{media}">
  <div class="col-md-6 col-sm-6 col-xs-12 left-content">
    <f:for each="{media}" as="mediaElement">
      <f:if condition="{mediaElement.originalResource.type} == 2">
        <f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
      </f:if>
      <f:if condition="{mediaElement.originalResource.type} == 4">
        <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
      </f:if>
    </f:for>
  </div>
</f:if>
