
<table class="tx-augenblicke" >
	<tr>
		<td>
			<f:translate key="tx_augenblicke_domain_model_augenblicke.title" />
		</td>
		<td>
		{augenblicke.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_augenblicke_domain_model_augenblicke.subtitle" />
		</td>
		<td>
		{augenblicke.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_augenblicke_domain_model_augenblicke.images" />
		</td>
		<td>
				<f:image src="{augenblicke.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_augenblicke_domain_model_augenblicke.description" />
		</td>
		<td>
		{augenblicke.description}
		</td>
	</tr>
</table>