
<table class="tx-candle" >
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.user_name" />
		</td>
		<td>
		{candle.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.active" />
		</td>
		<td>
		{candle.active}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.type" />
		</td>
		<td>
		{candle.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.user_address" />
		</td>
		<td>
		{candle.userAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.dedicated_name" />
		</td>
		<td>
		{candle.dedicatedName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candle_domain_model_candle.message" />
		</td>
		<td>
		{candle.message}
		</td>
	</tr>
</table>