<f:if condition="{media}">
	<!-- media files -->
	
		<f:for each="{media}" as="mediaElement" iteration="iteration">
			<div class="item <f:if condition='{iteration.index} == 0'> active </f:if>" >
				<f:if condition="{mediaElement.type} == 0">
					<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}" />
				</f:if>
				<f:if condition="{mediaElement.type} == 1">
					<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}" />
				</f:if>
			</div>
		</f:for>

</f:if>


