{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:section name="Configuration">
        <v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
        <flux:form id="sliderhome" label="Home slider" description="Home Slider Element" icon="" options="{Fluidcontent: {sorting: 101},group: 'Custom Elements'}">
            <flux:form.sheet name="options" label="Options">
                <flux:form.section name="sliders" label="Home Page Slider">
                    <flux:form.object name="slider" label="Add New Slide">
                        <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"  showThumbnails="1" />
                        <flux:field.input name="picture_alt" label="Alternative Text" />

                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
        </flux:form>
    </f:section>
    <f:section name="Main">

        <div class="banner clearfix">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">		
                <div class="carousel-inner" role="listbox">
                    <f:if condition="{sliders}">
                        <f:for each="{sliders}" as="slider" iteration="iteration">
                            <div class="item <f:if condition='{iteration.index} == 0'>active</f:if>">
                                <f:image src="uploads/slider_images/{slider.slider.picture}"  alt="{slider.slider.picture_alt}" class="img-responsive" width="1803c" height="803c"/>

                            </div>
                        </f:for>
                    </f:if>
                </div>
            </div>
			<div id="btm_scroll">&nbsp;</div>
        </div>



    </f:section>
</div>
