{namespace n=Tx_News_ViewHelpers}<!--
=====================
Partials/List/Item.html
-->
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<n:excludeDisplayedNews newsItem="{newsItem}" />
<div class="col-md-4 col-sm-6">
	<div class="news-panel clearfix">
		<div class="news-img">
			<f:if condition="{newsItem.falMedia}">
				<!-- fal media preview element -->
				<f:then>
					<f:if condition="{newsItem.falMediaPreviews}">
						<f:then>
							<n:link newsItem="{newsItem}" settings="{settings}">
								<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
									<f:if condition="{mediaElement.originalResource.type} == 2">
										<f:image  src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="{settings.media.maxWidth}c" height="{settings.media.maxHeight}c" />
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 4">
										<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
									</f:if>
								</f:alias>
							</n:link>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<span class="no-media-element">
									<n:link newsItem="{newsItem}" settings="{settings}">
										<f:image class="img-small-shadow" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
									</n:link> </span>
							</f:if>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{newsItem.media}">
						<!-- media preview element -->
						<f:then>
							<f:if condition="{newsItem.mediaPreviews}">
								<f:then>
									<n:link newsItem="{newsItem}" settings="{settings}">
										<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
											<f:if condition="{mediaElement.type} == 0">
												<f:image class="img-small-shadow" src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
											</f:if>
											<f:if condition="{mediaElement.type} == 1">
												<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
											</f:if>
											<f:if condition="{mediaElement.type} == 2">
												<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
											</f:if>
										</f:alias>
									</n:link>
								</f:then>
								<f:else>
									<f:if condition="{settings.displayDummyIfNoMedia}">
										<span class="no-media-element">
											<n:link newsItem="{newsItem}" settings="{settings}">
												<f:image class="img-small-shadow" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
											</n:link> </span>
									</f:if>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<f:then>
									<n:link newsItem="{newsItem}" settings="{settings}">
										<span class="no-media-element">
											<f:image class="img-small-shadow" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
										</span>
									</n:link>
								</f:then>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>
		<div class="news-text">
			<div class="news-date">
				<b> <n:format.date format="%d.%m.%Y">{newsItem.datetime}</n:format.date></b>
			</div>
			<div class="news-title">
				<n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
			</div>

			<f:format.stripTags>
				<f:format.crop maxCharacters="120" respectWordBoundaries="0">
					<v:format.trim content="{newsItem.teaser -> f:format.html()}" characters="NULL" />
				</f:format.crop>
			</f:format.stripTags>

		</div>
		<div class="news-detail">
			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="news-more-heading" >
				mehr
			</n:link>
		</div>
	</div>
</div>
