<html>
<head>
<title>Template file for the&quot;macina_searchbox&quot;extension.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<h3>Template file for the &quot;macina_searchbox&quot; extension.</h3>
<p><b>Available Markers:</b></p>
<ul>
  <li>###HEADLINE### Displays the Headline</li>
  <li>###ADVANCED### Advanced Search Link</li>
  <li>###SUBMIT### Alttext for the submit button</li>
  <li>###ACTLANG### UID of the actual language</li>
  <li>###SEARCHPID### PID of the Searchpage</li>
</ul>
<!-- ###TEMPLATE### begin -->
<form action="###SEARCHPID###" method="post" name="searchform" role="search" class="form-inline form-search">


	<div class="input-group">
		<input class="form-control" placeholder="Suchen" id="tx_indexedsearch_word" name="tx_indexedsearch[sword]" type="text" />
		<span class="input-group-btn">
			<button class="btn btn-search " type="submit"><i class="fa fa-search"></i></button>
		</span>
	</div>


<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
<input type="hidden" name="tx_indexedsearch[pointer]" value="0" />
<input type="hidden" name="tx_indexedsearch[ext]" value="0" />
<input type="hidden" name="tx_indexedsearch[lang]" value="###ACTLANG###" />

</form>
<!-- ###TEMPLATE### end -->
</body>
</html>