{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
  <f:flashMessages renderMode="div" />
  <f:if condition="{companies}">
    <f:then>
      <div class="row filterwrap preview">
        <div id="cd-main-content" class="col-sm-11 col-md-11 filterSection">
          <section class="cd-main-content">
            <section class="cd-gallery">
              <ul class="filterglry">
                <f:for each="{companies}" as="company">
                  <li class="{company.stateId.name} {v:format.substring(content: '{company.name}', start: 0, length: 1)} mix check1 radio2 option3">
                    <f:if condition="{company.stateId.smallLogo.originalResource.originalFile.uid}">
                      <h2>
                        <f:image src="{company.stateId.smallLogo.originalResource.originalFile.uid}" width="48c" height="46c" alt="{company.stateId.name}"/>
                      </h2>
                    </f:if>
                    <f:link.action action="show" arguments="{ uid: '{company.uid}'}" pageUid="{settings.companySingleView}"  class="border-Section"> <span>
                      <f:image src="{company.logo.originalResource.originalFile.uid}" height="99c" alt="{company.name}"/>
                      </span>
                      <div class="text-wrap"> <span class="text-bottom">{company.name}</span> </div>
                      <span>{company.city}</span> </f:link.action>
                  </li>
                </f:for>
              </ul>
              <div class="cd-fail-message"><f:translate key="tx_companymanagement_domain_model_company.l_nomatch" /></div>
            </section>
          </section>
        </div>
      </div>
    </f:then>
    <f:else>
      <div class="col-md-12">
        <p><f:translate key="tx_companymanagement_domain_model_company.l_nomatch" /></p>
      </div>
    </f:else>
  </f:if>
</f:section>
