
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Inquirer</h1>

<f:flashMessages />

<table  class="tx_property" >
	<tr>
		<th><f:translate key="tx_property_domain_model_inquirer.name" /></th>
		<th><f:translate key="tx_property_domain_model_inquirer.email" /></th>
		<th><f:translate key="tx_property_domain_model_inquirer.address" /></th>
		<th><f:translate key="tx_property_domain_model_inquirer.telephone" /></th>
		<th><f:translate key="tx_property_domain_model_inquirer.message" /></th>
		<th><f:translate key="tx_property_domain_model_inquirer.ip" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{inquirers}" as="inquirer">
		<tr>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.telephone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.message}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inquirer : inquirer}"> {inquirer.ip}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{inquirer : inquirer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{inquirer : inquirer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Inquirer</f:link.action>
</f:section>