<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<title>LANDESWAPPEN.COM</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/bxslider.css" rel="stylesheet">
<link rel="stylesheet" href="css/animated.css" type="text/css" media="screen" />
<link href="css/modern-business.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header id="topSection">
	<div class="container fadeInDown animated">
        <!-- language navigation search section-->
        <div class="row topmenusearch">
        	<div class="col-sm-6 col-md-6 logo">
            	<a href="index.html"><img src="images/LW_Logo_web.jpg" alt="LW_Logo_web" /></a>
            	<ul class="language">
                	<li><a href="#"><img class="img-circle" src="images/oesterreich_g.gif" alt="oesterreich_g" /></a></li>
                    <li><a href="#"><img class="img-circle" src="images/Flag_of_the_United_Kingdom.png" alt="Flag_of_the_United_Kingdom" /></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 searchbarsection">
            	<div class="facebook"><a href="#">staatswappen.at</a></div>
            	<div class="input-group right-inner-addon">
                	<form>
                    	<input type="search" class="input-box" placeholder="Seite durchsuchen ...">
                        <button type="submit" class="button-search">submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-12 navigationSection">
                <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> 
                    	<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <div class="clearfix"></div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a> </li>
                                <li class="dropdown">
                                	<a href="charly-temmle.html" class="dropdown-toggle">Österreichische Landeswappenträger<b data-toggle="dropdown" class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="#">historisches Verzeichnis</a> </li>
                                        <li class="last"> <a href="#">Unternehmenspräsentationen</a> </li>
                                    </ul>
                                </li>
                                <li> <a href="pop-up.html">Statements</a> </li>
                                <li> <a href="news.html">News</a> </li>
                                 <li class="dropdown">
                                	<a href="contact.html" class="dropdown-toggle">Service &amp; Kontakt<b data-toggle="dropdown" class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="#">historisches Verzeichnis</a> </li>
                                        <li class="last"> <a href="#">Unternehmenspräsentationen</a> </li>
                                    </ul>
                                </li>
                                <li> <a href="team.html">Mitgliederbereich</a> </li>
                            </ul>
                        </div>
                    <!-- /.navbar-collapse --> 
                    </div>
                <!-- /.container --> 
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Slider Section --> 
<section id="slider" class="fadeInDown animated">
	<header>
        <ul class="bxslider">
            <li><img src="images/slider1.png" title="KURZE EINLEITUNG ZUM THEMA LANDESWAPPEN.AT" /></li>
            <li><img src="images/slider1.png" title="KURZE EINLEITUNG ZUM THEMA LANDESWAPPEN.AT" /></li>
            <li><img src="images/slider1.png" title="KURZE EINLEITUNG ZUM THEMA LANDESWAPPEN.AT" /></li>
        </ul>
    </header>
</section>
<!-- Header Slider Section end --> 
<!-- Content Section --> 
<section id="contentSection" class="fadeInUp animated">
	<div class="container">
    	<div class="row clearfix">
        	<div class="col-sm-9 col-md-9">
            	<ul class="country-images clearfix">
                	<li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country1.jpg" alt="Salzburg" /></span>
                            <span class="font-sec">Salzburg</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country2.jpg" alt="Burgenland" /></span>
                            <span class="font-sec">Burgenland</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country3.jpg" alt="Kärnten" /></span>
                            <span class="font-sec">Kärnten</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country4.jpg" alt="Vorarlberg" /></span>
                            <span class="font-sec">Vorarlberg</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country5.jpg" alt="Tirol" /></span>
                            <span class="font-sec">Tirol</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country6.jpg" alt="Niederösterreich" /></span>
                            <span class="font-sec">Niederösterreich</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country7.jpg" alt="Salzburg" /></span>
                            <span class="font-sec">Salzburg</span>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<span class="img-sec"><img src="images/country8.jpg" alt="Steiermark" /></span>
                            <span class="font-sec">Steiermark</span>
                        </a>
                    </li>
                </ul>
                <div class="homedetail clearfix">
                	<h1>KURZE EINLEITUNG ZUM THEMA LANDESWAPPEN.COM</h1>
                    <p>Wer wir sind, wofür das Ganze gut ist, wen es was bringt, welche Zielgruppe es ansprechen soll, bla bla bla. </p>
                    <p>Dam de nobitat a suntorum, optatem facernam adicimaio. Feri aut maxim nos a voluptibus, tet laceptas dis perat aciumet as eum expliti bustisque con pro etur arum am utas volescienim liquodiae. Equiae pre peribus, secaborem estia quo odisto elitatiume ducium aligniamusam apicides sequiae odis estium volorrovit quodit rem eat dendips apelite mporeceati adigend icitae voluptatio totatempost, aspitis voluptatur audam unt et quiaect urerspicimet etum fuga.</p>
                    <p>Fera con eos nobitatur, sequis sitia nosanimped maiorum explaccum nem. Et ut aborenis etur accuscipit ommo ipsum int venda alitiost eturiore, consequo qui berciet, cuptati sit, natur aut res nis quo omnis et odis dolo venempo rporrumqui untur, venda cumquia dollab ide mo milique pariori tasped magnatque sitis quamus solore et quias solenda num consequodi qui dit fugiat aut optas venecer ibusam ipsumque dolo quundusa niatem ipsamus ad magnatem eum hiliqui tem seriorro consedis id ute aut el era volorem eum estiis solorerate poribusdae apelligentur sit, si reperer uptam, ipsum quat.</p>
                    <div class="testimonialSection">
                    	<div class="statement statementLeft">
                        	<div class="authorImages">
                            	<span class="aimage"><img src="images/statment1.jpg" alt="Reinhold Mitterlehner" /></span>
                                <span class="authername">Dr. Reinhold Mitterlehner</span>
                            </div>
                            <h3>Fera con eos nobitatur, maiorum explaccum nem.</h3>
                            <p>Dam de nobitat a suntorum, optatem facernam adicimaio. Feri aut maxim nos a voluptibus, tet laceptas eum expliti bustisque con pro etur arum am utas volescienim liquodiae ...</p>
                            <a class="readmoreN" href="#">Weiter lesen</a>
                        </div>
                        <div class="statement statementcenter">
                        	<ul class="bxslidersub">
                            	<li>
                                    <div class="authorImages">
                                        <span class="aimage"><img src="images/statment2.jpg" alt="Dr. Christoph Leitl" /></span>
                                        <span class="authername">Dr. Christoph Leitl</span>
                                    </div>
                                    <h3>Fera con eos nobitatur, maiorum explaccum nem.</h3>
                                    <p>Dam de nobitat a suntorum, optatem facernam adicimaio. Feri aut maxim nos a voluptibus, tet laceptas eum expliti bustisque con pro etur arum am utas volescienim liquodiae ...</p>
                                    <a class="readmoreN" href="#">Weiter lesen</a>
                                </li>
                                <li>
                                    <div class="authorImages">
                                        <span class="aimage"><img src="images/statment2.jpg" alt="Dr. Christoph Leitl" /></span>
                                        <span class="authername">Dr. Christoph Leitl</span>
                                    </div>
                                    <h3>Fera con eos nobitatur, maiorum explaccum nem.</h3>
                                    <p>Dam de nobitat a suntorum, optatem facernam adicimaio. Feri aut maxim nos a voluptibus, tet laceptas eum expliti bustisque con pro etur arum am utas volescienim liquodiae ...</p>
                                    <a class="readmoreN" href="#">Weiter lesen</a>
                                </li>
                            </ul>
                        </div>
                        <div class="statement statementRight">
                        	<div class="authorImages">
                            	<span class="aimage"><img src="images/statment3.jpg" alt="Dr. Christoph Leitl" /></span>
                                <span class="authername">Dr. Christoph Leitl</span>
                            </div>
                            <h3>Fera con eos nobitatur, maiorum explaccum nem.</h3>
                            <p>Dam de nobitat a suntorum, optatem facernam adicimaio. Feri aut maxim nos a voluptibus, tet laceptas eum expliti bustisque con pro etur arum am utas volescienim liquodiae ...</p>
                            <a class="readmoreN" href="#">Weiter lesen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 news">
            	<div class="newsDetail">
            	<h2>News</h2>
            	<div class="border-Section clearfix">
                    <div class="news-Section-Detail clearfix">
                        <div class="dateSection">30.09.2014</div>
                        <p>Verleihung des steirischen Landeswappens an die Firma XY durch Landeshauptmann Franz Voves.</p>
                        <a class="readmoreN" href="#">Weiter lesen</a>
                    </div>
                    <div class="news-Section-Detail clearfix">
                        <div class="dateSection">TOP-UNTERNEHMEN</div>
                        	<div class="country-flag">
                        		<p>Café-Konditorei-Eis Temmel Graz</p>
                        	</div>
                            <span class="flag-icon"><img src="images/charly-logo.png" alt="charly" /></span>
                        <a class="readmoreN" href="#">Weiter lesen</a>
                    </div>
                    <div class="news-Section-Detail clearfix">
                        <div class="dateSection">23.10.2014</div>
                        <p>Verleihung des steirischen Landeswappens an die Firma XY durch Landeshauptmann Franz Voves.</p>
                        <a class="readmoreN" href="#">Weiter lesen</a>
                    </div>
                </div>
                </div>
                <div class="newsDetail">
                    <h2>JAHRESWIRTSCHAFTSKATALOG</h2>
                    <div class="border-Section businessDirectory clearfix">
                        <div class="news-Section-Detail clearfix">
                            <p>Blättern Sie in der letzten Ausgabe des Katalogs der Landeswappenträger und entdecken Sie ausgezeichnete österreichische Top-Unternehmen.</p>
                            <a class="readmoreN" href="#">Weiter lesen</a>
                        </div>
                    </div>
                </div>
                <div class="newsDetail">
                    <h2>KONTAKT</h2>
                    <div class="border-Section Contact clearfix">
                        <div class="news-Section-Detail clearfix">
                            <p><a href="www.landeswappen.com">landeswappen.com</a><br/> Verlagshaus Morre GmbH<br/> A-8010 Graz, Jakoministraße 12</p>
                            <p><a href="mailto:info@landeswappen.com">info@landeswappen.com</a></p>
                            <span>T. <a href="tel:+430316820233">+43 (0) 316 82 02 33</a> <br/>F. +43 (0) 316 82 02 35</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section end --> 
<!-- jQuery --> 
<script src="js/jquery.js"></script> 
<script src="js/jquery.bxslider.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/generl.js"></script> 

<!-- Script to Activate the Carousel --> 
</body>
</html>
