
<table class="tx-company-management" >
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.name" />
		</td>
		<td>
		{team.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.designation" />
		</td>
		<td>
		{team.designation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.description" />
		</td>
		<td>
		{team.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.image" />
		</td>
		<td>
				<f:image src="{team.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.telephone" />
		</td>
		<td>
		{team.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.mobile" />
		</td>
		<td>
		{team.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.fax" />
		</td>
		<td>
		{team.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_team.email" />
		</td>
		<td>
		{team.email}
		</td>
	</tr>
</table>