
<table class="tx-company-management" >
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.detail_link" />
		</td>
		<td>
			{company.detailLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.name" />
		</td>
		<td>
			{company.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.logo" />
		</td>
		<td>
			{company.logo.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.main_image" />
		</td>
		<td>
			{company.mainImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.slider_images" />
		</td>
		<td>
			{company.sliderImages.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.address" />
		</td>
		<td>
			{company.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.location" />
		</td>
		<td>
			{company.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.zip" />
		</td>
		<td>
			{company.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.place" />
		</td>
		<td>
			{company.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.city" />
		</td>
		<td>
			{company.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.telephone" />
		</td>
		<td>
			{company.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.fax" />
		</td>
		<td>
			{company.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.email" />
		</td>
		<td>
			{company.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.website" />
		</td>
		<td>
			{company.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.founded" />
		</td>
		<td>
			{company.founded}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.employee" />
		</td>
		<td>
			{company.employee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.share" />
		</td>
		<td>
			{company.share}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.expert_notice" />
		</td>
		<td>
			{company.expertNotice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.branch" />
		</td>
		<td>
			{company.branch}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.gallery" />
		</td>
		<td>
			{company.gallery.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.video" />
		</td>
		<td>
			{company.video.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.award_date" />
		</td>
		<td>
			{company.awardDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_companymanagement_domain_model_company.award_type" />
		</td>
		<td>
			{company.awardType}
		</td>
	</tr>
</table>